In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

# Feature 1: Residenital Units Completed Each Month

In [62]:
res_con = pd.read_csv('res_construction.csv')

In [63]:
res_con = res_con[['REF_DATE', 'Type of structure', 'VALUE']]

In [64]:
res_con = res_con.rename(columns={'REF_DATE': 'Period','Type of structure': 'Type', 'VALUE':'Count'})

In [65]:
res_con = res_con[res_con['Type'] == 'Total residential']

In [66]:
res_con = res_con.drop('Type', axis=1).set_index('Period', drop=True)

In [68]:
res_con.shape, res_con.dtypes

((16, 1),
 Count    int64
 dtype: object)

## Feature 1 Complete: Residential Units Completed Each Month

# Feature 2: Completed Units Absorbtion Each Month

In [106]:
df = pd.read_csv('absorb_units.csv')
df = df[['Time','All']].set_index('Time', drop=True)
df = df.rename(columns={'All':'Count'})

In [107]:
df.shape, df.dtypes

((402, 1),
 Count    object
 dtype: object)

In [108]:
df = df.loc[df.index.str.contains('2023|2022')]

In [109]:
df = df['Count'].astype('int64')

In [110]:
df

Time
Jan 2022    577
Feb 2022    471
Mar 2022    548
Apr 2022    645
May 2022    605
Jun 2022    656
Jul 2022    563
Aug 2022    620
Sep 2022    588
Oct 2022    548
Nov 2022    630
Dec 2022    705
Jan 2023    481
Feb 2023    615
Mar 2023    657
Apr 2023    695
May 2023    948
Name: Count, dtype: int64

## Feature 2 Complete: Abosrbed Residential Units Each Month

# Feature 3: Absorbed Unit Costs

In [162]:
df = pd.read_csv('absorb_price.csv')
df = df[['Time','Average']].set_index('Time', drop=True)
df

               Average
Time
1990 January   157,461
1990 February  145,924
1990 March     153,323
1990 April     158,684
1990 May       169,382
...                ...
2023 February  719,495
2023 March     721,938
2023 April     743,584
2023 May       766,959
Source             NaN

[402 rows x 1 columns]

In [163]:
df = df.loc[df.index.str.contains('2022|2023')]

In [164]:
df = df.Average.str.replace(',','').astype('int64')

In [166]:
df

Time
2022 January      620090
2022 February     630697
2022 March        652992
2022 April        651990
2022 May          689070
2022 June         683979
2022 July         657916
2022 August       720625
2022 September    707905
2022 October      690682
2022 November     700049
2022 December     737179
2023 January      699978
2023 February     719495
2023 March        721938
2023 April        743584
2023 May          766959
Name: Average, dtype: int64

## Feature 3 Complete: AVG. Absorbiton Price of Single Family/Attached Homes

In [ ]:
# Feature 4: